{
  "parser": "babel-eslint",
  "extends": "airbnb-base/legacy",
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "globals": {
    "React": true
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "quotes": [2, "double"],
    "class-methods-use-this": 0,
    "no-console": 0
  }
}
